.header-search-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #d1d1d3;
  padding: 13px 16px;
}
.header__input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
}
.header__catalog__btn {
  width: 144px;
  height: 48px;
}
.header__catalog__btn:hover{
  background-color: #2f323a;
  transition: background-color .3s ease;
  cursor: pointer;
}
.toggle__lines {
  width: 24px;
  height: 24px;
}
.toggle__lines .toggle__line {
  display: block;
  background-color: #2f323a;
  height: 2px;
  border-radius: 5px;
}
.header__catalog__btn:hover .toggle__line{
  background-color: #e8e9ea;
  transition: background-color .3s ease;
}
.header__catalog__btn:hover .header__catalog__txt{
  color: #e8e9ea;
  transition: color .3s ease;
}
.toggle__line:nth-child(n + 1) {
  margin-top: 6px;
}
.header-user__action {
  width: 70px;
  height: 48px;
  border: 1px solid #e8e9ea;
}
.header-user__action:nth-child(n + 1) {
  margin-left: 6px;
}
.header-bottom__item + .header-bottom__item {
  margin-left: 10px;
}
.header-bottom__list {
  display: none;
}
.header-bottom__link:hover{
  color: #171B24;
  transition:color .3s ease;
}
.header-top__mobile__menu,
.header-top__mobile__menu-active {
  height: calc(100vh - 106px);
  top: 106px;
  transform: translateX(-150%);
  transition: transform 0.3s;
  z-index: 5;
  background-color: #fff;
}
.header-top__mobile__menu-active {
  transform: translateX(0);
}
.header-top__mobile__menu-active .header-bottom__item + .header-bottom__item,
.header-top__nav__item,
.header-bottom__item,
.header-user__action:nth-child(n + 1) {
  margin-left: 0px;
}
.mobile-line {
  height: 1px;
}
.login{
  width: 376px !important;
  height: 490px !important;
}
.register{
  height: 430px !important;
}
.create-profile{
  background-color: transparent !important;
  border: 1px solid #D1D1D3;
}
@media only screen and (min-width: 768px) {
  .header-top {
    background-color: #f6f6f6;
  }
  .header-user__action {
    border: none;
  }
}
@media only screen and (min-width: 960px) {
  .header-user__actions {
    width: 280px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-bottom__list {
    display: flex;
    justify-content: space-between;
  }
  .header-bottom-actions {
    border-top: 1px solid #e8e9ea;
    border-bottom: 1px solid #e8e9ea;
  }
}
