.hero__slide {
  width: 100%;
  height: 420px;
  background-color: red !important;
}
.hero__slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero__slide__info {
  position: absolute;
  width: 100%;
  max-width: 570px;
  top: 40px;
  left: 100px;
}
.hero__slide__title {
  font-size: 48px;
  line-height: 58px;
  color: #171b24;
}
.hero__slide__txt {
  font-size: 20px;
  line-height: 28px;
  max-width: 280px;
  margin-top: 20px;
}
#hero__slide__info__btn {
  margin-top: 100px;
}
.hero__slider__btns {
  right: 100px;
  bottom: 40px;
  z-index: 2;
}
.hero__slider__btn {
  width: 52px;
  height: 52px;
  background-color: #fff;
}
.discount__see__more{
  padding: 12px 24px;
  border: 1px solid #D1D1D3;
}
.discount-card{
  border: 1px solid #E8E9EA;
}
.discount-card__header__img{
  object-fit: cover;
  object-position: center;
}
.discount__number{
  position: absolute;
  width: 55px;
  height: 30px;
  border:2px solid #FBE303;
  background-color: #fff;
}
.discount-card__body__price{
  font-size: 20px;
  line-height: 28px;
}
.discount-card__body__old__price{
  color: #8B8D92;
  text-decoration: line-through;
}
.discount__see__more__bottom{
  display: none !important;
}
.discount__slider .swiper-slide{
  width:40%;
}
.discount-cards__mobile{
  display: none !important;
}

.discount-card__body{
  padding: 16px;
}
.discount-card__header{
  border-right: 1px solid #E8E9EA;
}
.discount__number{
  top: 16px;
  left: 16px;
}
.discount-card__btn{
  width:100%;
}
.popular-category{
  background-color: #F6F6F6;
}
.popular-product{
  border:1px solid #E8E9EA;
}
.popular-product__header{
  border-bottom: 1px solid #E8E9EA;
}
.popular-product__btn{
  width: 100%;
}
.clients{
  background-color: #F6F6F6;
  padding: 50px 0;
}
.client-card{
  border: 1px solid #E8E9EA;
  background-color: #fff;
}
.client-card__date{
  color: #8B8D92;
}
.clients__slider .swiper-slide{
  width: 40%;
}
.clients-card__slider__btns{
  display: inline-flex;
  align-items: center;
}
.clients-card__slider__btns__bottom {
  display: none;
}
@media only screen and (min-width:1200px){
  .discount__slider{
    display: none;
  }
}
@media only screen and (max-width:1200px){
  .discount-card__desktop{
    display: none !important;
  }
  .discount__slider{
    display: block;
  }
  .discount-card__header{
    border: none;
  }
  .discount-card__footer{
    padding: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__slide {
    height: 360px;
  }
  .hero__slide__info {
    left: 40px;
  }
  .hero__slider__btns {
    right: 40px;
  }
  #hero__slide__info__btn {
    margin-top: 40px;
  }
  .discount-top__title{
    font-size: 26px;
    line-height: 33px;
    color: red;
  }
  .discount-card__body{
    padding:16px;
  }
}
@media only screen and (max-width: 960px) {
  .hero__slide__info {
    max-width: 255px;
  }
  .hero__slide__title {
    font-size: 34px;
    line-height: 44px;
  }
  .hero__slide__txt {
    font-size: 18px;
    line-height: 24px;
  }
  #hero__slide__info__btn {
    margin-top: 76px;
  }
}
@media only screen and (max-width:767px){
  .discount-top__title{
    font-size: 20px;
    line-height: 26px;
  }
  .discount__see__more {
    display: inline-flex;
  }
  .discount__number{
    top: 8px;
    left: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .hero__slide {
    height: 206px;
  }
  .hero__slide__info {
    max-width: 215px;
    top: 20px;
    height: 20px;
  }
  .hero__slide__title {
    font-size: 26px;
    line-height: 33px;
  }
  .hero__slide__txt {
    font-size: 13px;
    line-height: 19px;
    margin-top: 4px;
  }
  #hero__slide__info__btn {
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 80px;
    bottom: 20px;
  }
  .discount-card__header{
    height: 110px;
  }
  .discount-card__body{
    padding: 8px;
  }
  .discount-card__footer{
    padding: 0;
  }
  .discount__number{
    top: 8px;
    left: 8px;
  }
  .discount__see__more {
    display: none;
  }
  .discount__see__more__bottom{
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .discount-cards__mobile{
    display: grid !important;
  }
  .discount__slider{
    display: none;
  }
  .popular-product__btn{
    padding: 12px 23px !important;
  }
  .clients__slider{
    width:100%;
  }
  .clients-card__slider__btns{
    display: none;
  }
  .clients-card__slider__btns__bottom {
    display: inline-flex;
    align-items: center;
  }
}
